.title{
	color: orange;
}
.color a{
	color: orange;
}
.navbar a{
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
/*navbarlinks on mouse-over*/
.navbar a:hover{
	background-color: #000;
}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.navbar{
	background-color: black;
	color: white;
}

.col-lg-12{
	background-image: url(3.jpg);
	background-size: cover;
	background-position: center;
}
#content{
	text-align: left;
	padding-top: 25%;
	color: black;
}
html{
	height: 100%;
}
